/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.header{
    background: url(./Real-Estate-Agent-picture.jpg);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
} */
button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}